header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    backdrop-filter: blur(10px);
    background-color: #ffffff80;
    border-radius: 0.5rem;
}

.logo {
    display: flex;
}

.logo a {
    font-family: Pilowlava;
    font-size: 30px;
    margin-top: 4px;
}

.seccion {
    width: 100%;
}

.seccion.izquierda {
    margin-left: 1rem;
}

.seccion.derecha {
    display: flex;
    justify-content: right;
    margin-right: 1rem;
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
    margin: 0rem 1rem;
}

li {
    list-style: none;
    font-family: Teko;
    font-size: 20px;
    margin-top: 3px;
}