<header>
    <nav>
        <div class="seccion izquierda">
            <ul class="menu">
                <a href="">
                    <li>
                        HOMBRE
                    </li>
                </a>
                <a href="">
                    <li>
                        MUJER
                    </li>
                </a>
            </ul>
        </div>
        <div class="logo">
            <a href="">
                WAVEGEAR
            </a>
        </div>
        <div class="seccion derecha">
            <ul class="menu">
                <a href="">
                    <li>
                        CUENTA
                    </li>
                </a>
                <a href="">
                    <li>
                        BUSCAR
                    </li>
                </a>
                <a href="">
                    <li>
                        CESTA [0]
                    </li>
                </a>
            </ul>
        </div>
    </nav>
</header>