<header>
    <nav>
        <div class="seccion izquierda">
            <ul class="menu">
                <a [routerLink]="['/hombre']">
                    <li>HOMBRE</li>
                </a>
                <a [routerLink]="['/mujer']">
                    <li>MUJER</li>
                </a>
            </ul>
        </div>
        <div class="logo">
            <a [routerLink]="['/home']">WAVEGEAR</a>
        </div>
        <div class="seccion derecha">
            <ul class="menu">
                <a [routerLink]="['/login']">
                    <li>CUENTA</li>
                </a>
                <a>
                    <li>BUSCAR</li>
                </a>
                <a>
                    <li>CESTA [0]</li>
                </a>
            </ul>
        </div>
    </nav>
</header>