<footer>
    <nav>
        <div class="despawn seccion izquierda">
            <ul class="menu">
                <a href="">
                    <li>Es</li>
                </a>
                <a href="">
                    <li>En</li>
                </a>
            </ul>
        </div>
        <div class="seccion medio">
            <ul class="menu">
                <a href="">
                    <li>Pago & Envío</li>
                </a>
                <a href="">
                    <li>Contacto</li>
                </a>
                <a href="">
                    <li>Cancelación</li>
                </a>
                <a href="">
                    <li>Términos & Condiciones</li>
                </a>
                <a href="">
                    <li>Privacidad</li>
                </a>
                <a href="">
                    <li>Aviso Legal</li>
                </a>
            </ul>
        </div>
        <div class="despawn seccion derecha">
            <ul class="menu">
                <a href="">
                    <li>Instagram</li>
                </a>
                <a href="">
                    <li>TikTok</li>
                </a>
            </ul>
        </div>
    </nav>
</footer>