<main>
    <section>
        <div class="title">
            <h1>Camisetas</h1>
        </div>
        <div class="section-container">
            <div class="section-row">
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/camiseta-1.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta manga corta print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">15'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/camiseta-2.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta manga corta print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">9'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/camiseta-3.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta manga corta over long print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">17'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/camiseta-4.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta manga corta print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">12'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
            </div>
            <div class="section-row">
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/camiseta-5.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta manga corta oversize print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">15'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/camiseta-6.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta manga corta oversize print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">15'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/camiseta-7.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta manga corta oversize print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">15'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/camiseta-8.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta manga corta print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">12'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="title">
            <h1>Chaquetas</h1>
        </div>
        <div class="section-container">
            <div class="section-row">
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/chaqueta-1.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Cazadora puffy</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">29'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/chaqueta-2.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Cazadora biker doble faz</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">59'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/chaqueta-3.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Cazadora puffy efecto pelo capucha</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">35'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/chaqueta-4.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Cazadora biker doble faz</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">49'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="title">
            <h1>Pantalones</h1>
        </div>
        <div class="section-container">
            <div class="section-row">
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/pantalon-1.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Pantalón wide leg soft touch</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">22'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/pantalon-2.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Pantalón banda lateral</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">25'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/pantalon-3.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Jeans bootcut low waist</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">29'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/mujer']" class="item">
                    <div class="images">
                        <img src="../../assets/images/mujer/pantalon-4.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Pantalón flare cintura vuelta soft touch</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">25'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>