<main>
    <section>
        <div class="title">
            <h1>Camisetas</h1>
        </div>
        <div class="section-container">
            <div class="section-row">
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/camiseta-1.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta manga corta boxy fit print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">11'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/camiseta-2.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta manga corta print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">9'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/camiseta-3.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta Initial D manga corta relaxed print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">17'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/camiseta-4.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta manga corta easy fit print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">9'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
            </div>
            <div class="section-row">
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/camiseta-5.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta Dragon ball manga corta relaxed print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">15'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/camiseta-6.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta manga corta print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">9'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/camiseta-7.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta manga corta boxy fit print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">11'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/camiseta-8.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Camiseta One Piece manga corta</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">15'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="title">
            <h1>Sudaderas</h1>
        </div>
        <div class="section-container">
            <div class="section-row">
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/sudadera-1.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Sudadera capucha boxy print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">27'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/sudadera-2.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Sudadera cremallera boxy cropped print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">29'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/sudadera-3.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Sudadera capucha oversize print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">29'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/sudadera-4.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Sudadera capucha oversize print</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">25'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="title">
            <h1>Pantalones</h1>
        </div>
        <div class="section-container">
            <div class="section-row">
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/pantalon-1.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Pantalón cargo algodón costuras contraste</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">29'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/pantalon-2.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Jeans cargo baggy</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">29'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/pantalon-3.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Pantalón baggy multicargo</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">39'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
                <a [routerLink]="['/hombre']" class="item">
                    <div class="images">
                        <img src="../../assets/images/hombre/pantalon-4.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="info-text">
                            <span class="info-title">Pantalón jogger cargo</span>
                            <span class="info-brand">Bershka</span>
                        </div>
                        <span class="price">25'99€</span>
                    </div>
                    <div class="addCart">
                        <button>
                            Añadir a la Cesta
                        </button>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>