<main>
    <section class="hero-container">
        <img src="../../assets/images/hero_image.jpg" alt="hero_image" class="hero-image">
        <div class="hero-content">
            <h1>WAVEGEAR</h1>
        </div>
    </section>

    <section class="selector_mw">
        <div>
            <img src="../../assets/images/selector_women.jpg" alt="">
            <a href="" class="slider white">
                <div class="slide">
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                </div>
                <div class="slide">
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                    <div>MUJER</div>
                    <div> - </div>
                </div>
            </a>
        </div>
        <div>
            <img src="../../assets/images/selector_man.jpg" alt="">
            <a href="" class="slider black">
                <div class="slide">
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                </div>
                <div class="slide">
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                    <div>HOMBRE</div>
                    <div> - </div>
                </div>
            </a>
        </div>
    </section>
</main>