<main>
    <section class="hero-container">
        <img src="../../assets/images/hero_image.jpg" alt="hero_image" class="hero-image">
        <div class="hero-content">
            <h1>FITWAYS</h1>
        </div>
    </section>

    <section class="selector_mw">
        <div>
            <img src="../../assets/images/selector_women.jpg" alt="">
            <a href="" class="banner white">
                Moda para Mujeres
            </a>
        </div>
        <div>
            <img src="../../assets/images/selector_man.jpg" alt="">
            <a href="" class="banner black">
                Moda para Hombres
            </a>
        </div>
    </section>
</main>