.hero-container {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: default;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    transform: translate(-20%, -42.5%);
    text-align: center;
    color: black;
    z-index: 1;
}

.hero-content h1 {
    font-family: Pilowlava;
    font-size: 5rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.selector_mw {
    display: flex;
    width: 100%;
}

.selector_mw > div {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.selector_mw > div > img {
    width: 100%;
    display: flex;
}

.slider {
    position: absolute !important;
    top: 50%;
    left: 0;
    right: 0;
    padding: 10px 0px;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    z-index: 500;
    font-family: Teko;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
}

.slider.white {
    background-color: white;
    color: black;
}

.slider.black {
    background-color: black;
    color: white;
}

.slider .slide {
    min-width: 100%;
    width: 100%;
    display: flex;
}

.slide div {
    animation: scroll-text 2s linear infinite;
}

.slider .slide div {
    min-width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector_mw div:hover .slider {
    opacity: 1;
}

.slider::before {
    content: attr(data-text) " " attr(data-text) " " attr(data-text);
    display: flex;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}